body {
    display: flex; 
    align-items:baseline;
}
div {
    width: 300px;
    height: 100%;
    padding: 10px;
    border: 1px solid;
    display: fixed;
    position:relative;
  }
.text{
    display: fixed;
    width: 100%;
    height: 100%;
}
table {
    margin-left: 10px;
    border: 1px solid;
    width: 20%;
    height: 100%;
    padding: 10px;
    position:relative;
}
label, input {
    margin-bottom: 10px;
    
}


.status:hover { 
    color: blue;
}

thead > tr > td {
    font-size: 20pt ;
    padding-right: 20px;
    
}