<script>
import axios from 'axios'

export default {
  name: "Crud",
  data() {
    return {
      totRules: 2,
      isValid: false,
      message: '',
      selected: false,
      rules: {

        title: [
          valueT => {
            if (valueT == null || valueT == "") {
              this.message = "O título está vazio"
              this.isValid = false
            }
          },

          valueT => { this.manga.title = valueT.charAt(0).toUpperCase() + valueT.slice(1).toLowerCase() },
        ],

        genres: [
          valueG => {
            if (valueG.length == 0) {
              this.isValid = false
              this.message = "Selecione um gênero"
            }
          },

          valueG => { this.manga.genres = valueG.sort() }
        ]
      },
      genre: "",
      genres: [],
      manga: {
        title: null,
        genres: [],
        released: null,
        status: null,
      },
      mangaData: [],
      thead: [{
        value: "ID",
        sort: 'none',
        columnId: 'id_manga'
      },
        'Title',
      {
        value: 'Genres',
        sort: 'none',
        columnId: 'genres',
        align: 'center'
      },
        'Released in',
        'Status',
        'Actions'
      ],
      tbody: [{
        field: 'id_manga',
        align: 'right'
      },
        'title',
      {
        field: 'genres',
        fn: (data) => {
          var genre = `${data.genres[0]}`
          for (let i = 1; i < data.genres.length; i++) {
            genre = genre + ", " + data.genres[i];

          }
          return genre
        }
      },
        'released',
        'status',
      {
        slot: 'actions',
        align: 'left'
      }],
      page: 1,
      total: null
    };

  },
  created() {
    axios
        .get('http://localhost:4000/manga/genres')
        .then(response => {
          response.data.forEach(el => {
            this.genres.push(el.name)

          });
        })
    this.totPage()
    this.onPage()

  },

  methods: {
    attGenres() {
      
    },
    totPage() {
      axios
        .get('http://localhost:4000/manga')
        .then(response => (this.total = response.data.length))
    },
    submit() {
      if (this.selected == false) {

        this.validator()

        if (this.isValid === true) {

          axios.post('http://localhost:4000/manga', {
            title: this.manga.title,
            genres: this.manga.genres,
            released: this.manga.released,
            status: this.manga.status
          })
            .then(() => {
              this.totPage()
              this.onPage()
            }).catch(error => {

              this.message = `${error.message}. ${error.response.data.message}.`
            });
          this.clear();
        }
      } else {
        this.validator();
        if (this.isValid === true) {

          axios.put(
            `http://localhost:4000/manga/${this.manga.id_manga}`, {
            title: this.manga.title,
            genres: this.manga.genres,
            released: this.manga.released,
            status: this.manga.status
          })
            .then(() => (this.onPage()))
            .catch(error => {
              this.message = `${error.message}. ${error.response.data.message}.`
            });

          this.clear();
          this.selected = false
        }
      }

    },
    editManga(thisManga) {
      const mangaSelected = thisManga;
      this.manga = {
        id_manga: mangaSelected.id_manga,
        title: mangaSelected.title,
        genres: mangaSelected.genres,
        released: mangaSelected.released,
        status: mangaSelected.status,
      }
      this.selected = true;
    },
    clear() {
      this.manga.title = null;
      this.manga.genres = [];
      this.manga.released = null;
      this.manga.status = null;
      this.message = null;

    },
    deleteManga(id_manga) {
      axios.delete(
        `http://localhost:4000/manga/${id_manga.id_manga}`,
      )
        .then(() => {
          this.totPage()
          this.onPage()
        });
    },

    onPage() {
      axios
        .get(`http://localhost:4000/manga?page=${this.page}&limit=4`)
        .then(response => (
          this.mangaData = response.data
        ))
    },
    validator() {
      for (let i = 0; i < this.totRules; i++) {
        this.rules.title[i](this.manga.title);
        this.rules.genres[i](this.manga.genres);
      }
    },
    addGenre(number) {
      if (number == 1) {
        axios
          .post('http://localhost:4000/manga/genres', {name: this.genre})
          .then(response => (this.genres.push(response.data.genre.name)))
          
      } else {
        //this.genres = this.genres.filter(gen => gen != this.newGenre);
        axios.delete(
          'http://localhost:4000/manga/genres', {name: this.genre})
        .then(response => (console.log(response)))

      };
    }

  },


};
</script>
<template>
  <ui-grid class="demo-grid">
    <ui-grid-cell class="demo-cell">
      <ui-form nowrap item-margin-bottom="16" label-width="80">
        <template #default="{ subitemClass, actionClass }">
          <ui-form-field class="required">
            <label>Title:</label>
            <ui-textfield v-model="manga.title" @click="isValid = true"></ui-textfield>
          </ui-form-field>

          <ui-form-field>
            <label>Genres:</label>
            <div :class="subitemClass">
              <ui-form-field v-for="i in this.genres.length" :key="i">
                <ui-checkbox
                  :value="this.genres[i - 1]"
                  v-model="manga.genres"
                  @click="isValid = true"
                ></ui-checkbox>
                <label>{{ this.genres[i - 1] }}</label>
              </ui-form-field>
            </div>
          </ui-form-field>

          <ui-form-field>
            <label>Status:</label>
            <ui-radio type="radio" value="Publishing" v-model="manga.status" />
            <label>Publishing</label>
            <ui-radio type="radio" value="Finished" v-model="manga.status" />
            <label>Finished</label>
          </ui-form-field>

          <ui-form-field>
            <label>Released:</label>
            <ui-textfield v-model="manga.released" input-type="number" min="1900" max="3000"></ui-textfield>
          </ui-form-field>

          <ui-form-field :class="actionClass">
            <ui-button raised @click="submit" :disabled="!isValid">Submit</ui-button>
            <ui-button outlined @click="clear">Cancel</ui-button>
          </ui-form-field>

          <ui-alert v-if="message" state="error">{{ message }}</ui-alert>
        </template>
      </ui-form>
    </ui-grid-cell>

    <!---Table--->
    <ui-grid-cell class="demo-cell">
      <ui-table :data="mangaData" :thead="thead" :tbody="tbody" selected-key="id_manga">
        <template #actions="{ data }">
          <ui-button @click="editManga(data)">
            <ui-icon>edit</ui-icon>
          </ui-button>

          <ui-button @click="deleteManga(data)">
            <ui-icon>delete</ui-icon>
          </ui-button>
        </template>

        <ui-pagination v-model="page" :total="total" :page-size="4" show-total @click="onPage"></ui-pagination>
      </ui-table>
    </ui-grid-cell>
  </ui-grid>
  <!---addGenre--->

  <ui-form nowrap item-margin-bottom="16" label-width="80">
    <template #default="{ actionClass }">
      <ui-form-field>
        <label class="required">New genre:</label>
        <ui-textfield v-model="this.genre"></ui-textfield>
      </ui-form-field>
      <ui-form-field :class="actionClass">
        <ui-button raised @click="addGenre(1)">Add</ui-button>
        <ui-button outlined @click="addGenre(0)">Del</ui-button>
      </ui-form-field>
    </template>
  </ui-form>
</template>


<style scoped>
</style>
