<script setup>
import Crud from "./components/Crud.vue";


</script>

<template>

  <Crud />
  
</template>

<style>
body{
  background-color: rgb(255, 255, 255);
}
#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #000000;
  margin-top: 60px;
}
</style>
